---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// Liste des projets
const projects = [
  {
    title: "Promotions",
    description:
      "Dans ce projet à des fins scolaires, nous devions réaliser sous Blender un objet innovant et en faire sa promotion",
    image: "/realisation1.png",
    link: "/projet2",
  },
  {
    title: "Jeux-vidéo",
    description:
      "Création d'un jeu vidéo pixel dans une mécanique Mario Bros où la princesse sauve le prince du grand dragon.",
    image: "/realisation3.png",
    link: "/projet3",
  },
  {
    title: "Site internet",
    description:
      "En équipe de 3, nous devions réaliser un site internet sur la mode responsable pour en faire les promotions et expliquer en quoi ça consiste",
    image: "/realisation4.png",
    link: "/projet4",
  },
];

// Fonction pour tronquer les descriptions
function truncate(text, maxLength) {
  if (text.length > maxLength) {
    return text.substring(0, maxLength) + "...";
  }
  return text;
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .hover-card {
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;
      }
      .hover-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body class="flex flex-col items-center min-h-screen">
    <main class="container flex-grow">
      <div class="flex justify-center pt-[30px]">
        <Header />
      </div>

      <!-- Section Projet Principal -->
      <section class="my-16">
        <h2 class="font-bebas text-6xl md:text-[125px] font-bold mb-6">
          Projets Personnels
        </h2>
        <div class="relative bg-white rounded-lg shadow-lg overflow-hidden">
          <img
            src="/réalisation2.png"
            alt="Projet Principal"
            class="w-full h-[600px] object-cover"
          />
          <div class="p-6">
            <h3 class="text-3xl font-bold text-gray-800 mb-4">
              Blender - Modélisation 3D
            </h3>
            <p class="text-gray-600 mb-4 md:text-lg text-base">
              Ce projet a été réalisé dans Blender, un logiciel de modélisation
              3D. Il inclut des textures complexes, un éclairage réaliste et la
              réalisation des backrooms.
            </p>
            <a
              href="/projet1"
              class="px-6 py-2 rounded-full bg-black text-white font-semibold hover:text-gray-50 shadow-md hover:shadow-lg transition-all duration-300 "
            >
              En savoir plus
            </a>
          </div>
        </div>
      </section>

      <!-- Section Projets Secondaires -->
      <section>
        <h2 class="font-bebas text-6xl md:text-[100px] font-bold mb-6">
          Projets Scolaires
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-20">
          {
            projects.map((project) => {
              return (
                <div class="bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105">
                  <img
                    src={project.image}
                    alt={project.title}
                    class="w-full object-cover"
                  />
                  <div class="p-4">
                    <h3 class="text-2xl font-semibold text-gray-800">
                      {project.title}
                    </h3>
                    <p class="text-gray-600 text-sm mb-4">
                      {truncate(project.description, 100)}
                    </p>
                    <a
                      href={project.link}
                      class="px-6 py-2 rounded-full text-sm bg-black text-white font-semibold hover:text-gray-50 shadow-md hover:shadow-lg transition-all duration-300"
                    >
                      Détails
                    </a>
                  </div>
                </div>
              );
            })
          }
        </div>
      </section>
    </main>
    <div class="w-full">
      <Footer />
    </div>
  </body>
</html>
