---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// Liste des projets
const projects = [
  { title: "Blender", description: "Modélisation 3D", image: "/réalisation2.png", detail: "J'ai réalisé ce projet à des fins personnelles afin d'apprendre le logiciel Blender" },
  { title: "Blender", description: "Modélisation 3D", image: "/réalisation2.png", detail: "Ce projet implique la création de modèles 3D dans Blender. Nous avons travaillé sur des textures, des lumières et des animations pour aboutir à une modélisation." },
  { title: "Blender", description: "Modélisation 3D", image: "/réalisation2.png", detail: "Ce projet implique la création de modèles 3D dans Blender. Nous avons travaillé sur des textures, des lumières et des animations pour aboutir à une modélisation réaliste et dynamique." }
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="p-8">
      <div class="flex justify-center pb-12">
        <Header />
      </div>
      <h2 class="font-bebas text-[150px] font-bold pl-4 pb-12">Mes Projets</h2>
      <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Liste des projets -->
        {projects.map(project => (
          <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl">
            <div class="relative w-full aspect-[16/9] mb-4">
              <img src={project.image} alt={project.title} class="object-cover rounded-t-lg w-full h-full" />
            </div>
            <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
            <p class="text-sm mb-2">{project.description}</p>

            <!-- Simple Details Toggle -->
            <details class="w-full">
              <summary class="py-2 font-medium text-base flex items-center">
                <span class="mr-2 text-lime-500">&#9733;</span>
                Clique !
              </summary>
              <p class="text-sm">{project.detail}</p>
            </details>
          </div>
        ))}
      </div>
    </main>
  </body>
</html>
